##
## Site configuration
##
app/config/database.php
app/config/core.php

##
## Temporary files
##
app/tmp/*
app/media/*
app/webroot/img/upload/*
cake/*
##
## Development meta files
##
.project
.DS_Store
nbproject
